h1, h2, h3, p {
  font-family: Helvetica
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.brushes h2 {
  background-color: mediumspringgreen;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.frames h2 {
  background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.paint h2 {
  background-color: skyblue;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}
